:root {
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #fafafa;
  --clr-neutral-300: #dbe5e6;
  --clr-neutral-900: #1c2022;
  --clr-accent-aqua: #67bece;
  --clr-accent-blue: #3e54a3;
  --clr-accent-pink: #f9c7c5;
  --clr-accent-pred: #ed2c49;
  --gradient-img: linear-gradient(to top, #f0f0f0, #d1d1d1);
  --gradient-title: linear-gradient(to right, var(--clr-accent-blue), var(--clr-accent-aqua), var(--clr-accent-pink), var(--clr-accent-red));

  font-size: clamp(1.0625rem, 0.5069rem + 0.8889vw, 1.5625rem);
  font-family: 'Barlow', sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-200);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* RESET */

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* UTILITY CLASSES */

.gradient-text {
  background: linear-gradient(to right, #3e54a3, #67bece, #3e54a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold {
  font-weight: bold;
}

/* TYPOGRAPHY */

.title {
  font-size: clamp(2.5rem, 1.5278rem + 1.5556vw, 3.375rem);
  line-height: 1
}

.intro,
.intro-list {
  font-weight: 600;
}

/* COMPONENTS */

.zig-zag {
  width: 100%;
  height: 1.5em;
  background-color: var(--clr-neutral-200);
  background-image: linear-gradient(135deg, var(--clr-accent-pink) 25%, transparent 25%),
    linear-gradient(225deg, var(--clr-accent-pink) 25%, transparent 25%),
    linear-gradient(315deg, var(--clr-accent-pink) 25%, transparent 25%),
    linear-gradient(45deg, var(--clr-accent-pink) 25%, transparent 25%);
  background-position: -30px 0, -30px 0, 0 0, 0 0;
  background-size: 60px 60px;
  background-repeat: repeat;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  background-color: var(--clr-accent-pink);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer ul li img {
  width: 2em;
  padding: .25em;
  background-color: var(--clr-accent-blue);
}












@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
